.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .loader-content {
    text-align: center;
  }
  
  .loader-image {
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }